{% load i18n static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Share.fm - Share your music with others. {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<section id="header">
    <div class="wrapper">
        test
    </div>
</section>
<section id="current-track">
    <div class="wrapper"></div>
</section>

<section id="main">
    <div class="wrapper">
        <div id="playlist"></div>
        <div id="user-playlist"></div>
    </div>
</section>
{% block content %}{% endblock content %}
<section id="footer">
    <div class="wrapper"></div>
</section>

<script src="js/index.js"></script>
</body>
</html>