body {
  padding: 0;
  margin: 0;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#header {
  background: #42c5be;
  height: 50px;
  width: 100%;
}

#main {
  overflow: hidden;
  margin-top: 25px;
}

#footer {
  margin-top: 25px;
  background: #161616;
  height: 150px;
}

.wrapper {
  width: 980px;
  margin: 0 auto;
}